<div class="container" style="height: 100%">
  <h2>Session Management</h2>
  <div class="d-flex">
    <div *ngFor="let session of userSessions; let i = index">
      <mat-card class="p-4 m-2">
        <div><b>IP Address:</b> {{ session[keys[i]].ip }}</div>
        <div>
          <b>Browser</b> {{ session[keys[i]].browser }}
          {{ session[keys[i]].version }}
        </div>
        <div><b>Operating System: </b> {{ session[keys[i]].os }}</div>
        <div><b>Platform: </b> {{ session[keys[i]].platform }}</div>
        <br />
        <button mat-raised-button color="primary" (click)="revoke(session)">
          Revoke
        </button>
      </mat-card>
    </div>
  </div>
  <br />
  <mat-divider></mat-divider>
  <br />
  <h2>Two Factor Authentication</h2>
  <button mat-raised-button color="primary" class="w-100" *ngIf="!twoFAStatus" (click)="enable2faRequest()">
    Enable 2 Factor Authentication
  </button>
</div>
