<div class="container p-3 d-flex justify-content-center">
  <div
    class="post text-center py-3"
    (dblclick)="likePost()"
    (contextmenu)="openContextMenu($event, { _id: post._id })"
  >
    <p>{{ post.caption }}</p>
    <img
      [src]="'http://localhost:3000/api/posts/images/' + post.photos[0]"
      [alt]="post.caption"
      style="width: 200px; height: 300px; object-fit: cover"
    />
  </div>
</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="rightMenu"
></div>

<!-- standard material menu -->
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="reportPost(item)">Report Post</button>
  </ng-template>
</mat-menu>
