<mat-toolbar color="primary" class="nav">
  <div class="d-flex align-items-center">
    <span class="navbtn"
      ><button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <div><a routerLink="/" class="brand">Eligram-X</a></div>
  </div>
  <div class="toHideOnMedia">
    <ul class="ul" *ngIf="!isAuth">
      <li class="li" *ngFor="let route of anonymous">
        <a class="a" [routerLink]="route.route" routerLinkActive="active">{{
          route.name
        }}</a>
      </li>
    </ul>
    <ul class="ul align-items-center" *ngIf="isAuth">
      <li class="li">
        <button mat-icon-button (click)="openCreatePostModal()">
          <mat-icon>add_box</mat-icon>
        </button>
      </li>
      <li class="li" *ngIf="user.role === 'ADMIN'">
        <a class="a" routerLink="/admin/dashboard">ADMIN</a>
      </li>
      <li class="li" *ngIf="user.state != 0">
        <a class="a logout" (click)="logout()">Logout</a>
      </li>
      <li class="li" *ngIf="user.state == 0">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/u', user.username]">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item [routerLink]="['/u', user.username]">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>

<mat-drawer-container class="container-auto" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div class="navout">
      <h1 class="text-center">Menu</h1>
      <mat-divider></mat-divider>
      <ul class="side-ul" *ngIf="!isAuth">
        <li class="side-li" *ngFor="let route of anonymous">
          <a class="side-li-a" mat-flat-button [routerLink]="route.route">{{
            route.name
          }}</a>
        </li>
      </ul>
      <ul class="side-ul" *ngIf="isAuth">
        <li class="li" *ngIf="user.role === 'ADMIN'">
          <button
            class="side-li-a"
            mat-flat-button
            (click)="openCreatePostModal()"
          >
            Add Post
          </button>
        </li>
        <li class="li" *ngIf="user.role === 'ADMIN'">
          <a class="side-li-a" mat-flat-button routerLink="/admin/dashboard">
            ADMIN
          </a>
        </li>
        <li class="side-li" *ngIf="isAuth">
          <a class="side-li-a" mat-flat-button (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <div>
    <br />
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
