<br />
<div class="container">
  <mat-card>
    <mat-card-header>
      <h1>Change Password</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Old Password</mat-label>
            <input
              matInput
              placeholder="Old Password"
              formControlName="oldPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
            />
            <mat-error
              *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']"
              >Old password is required</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New Password</mat-label>
            <input
              matInput
              placeholder="New Password"
              formControlName="password"
              [type]="showPassword ? 'text' : 'password'"
            />
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{
              showPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-hint>Password must be at least 8 characters long</mat-hint>
            <mat-error
              *ngIf="changePasswordForm.get('password')?.errors?.['required']"
              >Password is required</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('password')?.errors?.['minlength']"
              >Password must be at least 8 characters long</mat-error
            >
          </mat-form-field>
        </div>
        <br />
        <div>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm New Password</mat-label>
            <input
              matInput
              placeholder="Confirm New Password"
              formControlName="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
            />
            <mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">{{
              showConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
            <mat-error
              *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']"
              >Passwords do not match</mat-error
            >
            <mat-error
              *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['passwordMatch']"
              >Passwords do not match</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <button type="submit" mat-raised-button color="primary" class="w-100">
            Change Password
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
