<div class="w-100" style="height: 100%">
  <mat-progress-bar
    [mode]="mode"
    *ngIf="isLoading"
    [value]="progress"
    style="position: absolute; z-index: 99"
  ></mat-progress-bar>
  <mat-card class="p-4" style="height: 100%; display: block">
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Caption</mat-label>
          <textarea
            matInput
            placeholder="Image Caption"
            formControlName="caption"
            rows="10"
          ></textarea>
          <mat-error
            *ngIf="createPostForm.get('caption')?.errors?.['required']"
          >
            Caption is required
          </mat-error>
        </mat-form-field>
        <input
          type="file"
          #filePicker
          multiple
          hidden
          formControlName="photos"
          (change)="onFilePick($event)"
        />
        <div>
          <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="filePicker.click()"
            class="w-100"
          >
            Choose Images
          </button>
        </div>
        <br />
        <div>
          <button mat-raised-button color="primary" type="submit" class="w-100">
            Upload Post
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
